In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.preprocessing import PolynomialFeatures
from sklearn.neural_network import MLPRegressor

In [6]:
train_df=pd.read_csv('C:/Users/gurur/Desktop/Term1 Docs/ML/MLProject/trainData6stationsWithMon200.csv')
train_df.head()

,Unnamed: 0,Date,Month,station,station elevation,Precipitation,Downward Long Wave Rad Flux,Downward Short Wave Rad Flux,Air Pressure,Water precipitation,Humidity,Cloud cover,Temperature,Upward Long wave Rad,Upward Long wave Rad Atmos,Upward Short Wave Rad,Max Temperature,solar energy
0,0,1994-01-01,1,HINT,493,0.000000,168994.609375,141390.0,67344117.5,5479.057648,2.158353,0.085000,15510.469076,238776.054688,166465.324219,31795.0,15605.287272,11604900
1,1,1994-01-01,1,IDAB,110,133.729992,192001.623047,137450.0,67270510.5,7606.557434,3.417633,2.556667,15550.102132,239394.054688,162546.324219,25254.0,15614.737549,8080500
2,2,1994-01-01,1,SLAP,774,0.000000,175262.910156,147070.0,72959447.0,5550.804291,1.953540,0.216923,15431.745868,252431.642578,175520.434570,34294.0,15491.706656,10265700
3,3,1994-01-01,1,WEST,348,12.010000,175368.609375,133060.0,67224738.5,6271.757782,2.755343,0.615833,15367.985433,228877.054688,157144.324219,26398.0,15435.445394,10644300
4,4,1994-01-01,1,BESS,511,0.000000,210058.511719,178190.0,84188831.5,6624.797089,2.527614,0.102000,15524.815755,299059.818359,208039.655273,40640.0,15603.784049,11487900

In [7]:
X=train_df[['Month','station elevation','Downward Long Wave Rad Flux','Downward Short Wave Rad Flux','Temperature','Upward Long wave Rad','Upward Long wave Rad Atmos','Upward Short Wave Rad','Max Temperature']].to_numpy()
Y=train_df['solar energy'].to_numpy()

train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.2,random_state=0)

lr=linear_model.Ridge(alpha=0.000000000001,normalize=True)
lr.fit(train_x,train_y)
ypred=lr.predict(test_x)
mse=metrics.mean_squared_error(test_y,ypred,squared=False)
print(mse)

3507143.981322622

In [19]:
X=train_df[['Month','station elevation','Downward Long Wave Rad Flux','Downward Short Wave Rad Flux','Temperature','Upward Long wave Rad','Upward Long wave Rad Atmos','Upward Short Wave Rad','Max Temperature']].to_numpy()
Y=train_df['solar energy'].to_numpy()

poly=PolynomialFeatures(degree=3)
X=poly.fit_transform(X)

train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.2,random_state=0)

lr=linear_model.Ridge(alpha=0.000000000001,normalize=True)
lr.fit(train_x,train_y)
ypred=lr.predict(test_x)
mse=metrics.mean_squared_error(test_y,ypred,squared=False)
print(mse)

3254972.155981591

In [5]:
X=train_df[['Month','station elevation','Downward Long Wave Rad Flux','Downward Short Wave Rad Flux','Temperature','Upward Long wave Rad','Upward Long wave Rad Atmos','Upward Short Wave Rad','Max Temperature']].to_numpy()
Y=train_df['solar energy'].to_numpy()

train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.2,random_state=0)

nn_regr=MLPRegressor(alpha=0.001,max_iter=1500)
nn_regr.fit(train_x,train_y)

ypred=nn_regr.predict(test_x)
mse=metrics.mean_squared_error(test_y,ypred,squared=False)
print(mse)

4014780.6158119095

In [11]:
X=train_df[['station elevation','Downward Long Wave Rad Flux','Downward Short Wave Rad Flux','Temperature','Upward Long wave Rad','Upward Long wave Rad Atmos','Upward Short Wave Rad','Max Temperature']].to_numpy()
Y=train_df['solar energy'].to_numpy()

train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.2,random_state=0)

lr=linear_model.Lasso(alpha=0.0000000001,normalize=True)
lr.fit(train_x,train_y)
ypred=lr.predict(test_x)
mse=metrics.mean_squared_error(test_y,ypred,squared=False)
print(mse)

3739098.7491324223

C:\Program Files\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.363348051443156e+17, tolerance: 123147715432580.17
  model = cd_fast.enet_coordinate_descent(

In [6]:
print(ypred)

[23815735.81937388 11829772.38812876 23046978.38730434 ...
 21098043.31734827 20072363.89343347 26089357.69339755]

In [12]:
X=train_df[['station elevation','Downward Long Wave Rad Flux','Downward Short Wave Rad Flux','Temperature','Upward Long wave Rad','Upward Long wave Rad Atmos','Upward Short Wave Rad','Max Temperature']].to_numpy()
Y=train_df['solar energy'].to_numpy()

train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.2,random_state=0)

svr=svm.SVR(C=0.00001)
svr.fit(train_x,train_y)
ypred=svr.predict(test_x)
mse=metrics.mean_squared_error(test_y,ypred,squared=False)
print(mse)

7991900.387945227

In [14]:
testdf=pd.read_csv('C:/Users/gurur/Desktop/Term1 Docs/ML/MLProject/testdfWithMon200.csv')
testdf.head()

,Unnamed: 0,Date,Month,station,station elevation,Precipitation,Downward Long Wave Rad Flux,Downward Short Wave Rad Flux,Air Pressure,Water precipitation,Humidity,Cloud cover,Temperature,Upward Long wave Rad,Upward Long wave Rad Atmos,Upward Short Wave Rad,Max Temperature
0,0,20050101,1,HINT,493,122.120000,232655.207031,48010.0,67069826.0,14283.812439,6.377589,6.549167,15862.920654,257883.007812,146324.938477,8775.0,15903.641764
1,1,20050102,1,HINT,493,205.790000,235791.162109,55910.0,67298614.5,17168.335083,6.394114,15.099166,15864.267171,259417.984375,121673.308594,9278.0,15902.177002
2,2,20050103,1,HINT,493,740.199986,231617.289062,82970.0,67348028.5,16797.600342,5.546970,7.055000,15768.031576,253955.460938,154372.404297,16153.0,15767.199707
3,3,20050104,1,HINT,493,2080.179993,228650.195312,32798.0,67175896.0,21019.107544,4.521409,26.138334,15482.608154,232968.312500,125524.590820,6223.0,15497.127035
4,4,20050105,1,HINT,493,1793.990089,186375.539062,97000.0,67590169.5,8579.307373,1.496333,12.545000,14786.329834,199873.854492,111598.304688,44597.0,14864.711426

In [20]:
testX=testdf[['Month','station elevation','Downward Long Wave Rad Flux','Downward Short Wave Rad Flux','Temperature','Upward Long wave Rad','Upward Long wave Rad Atmos','Upward Short Wave Rad','Max Temperature']].to_numpy()

poly=PolynomialFeatures(degree=3)
testX=poly.fit_transform(testX)

predicted=lr.predict(testX)

In [36]:
testX=testdf[['station elevation','Downward Long Wave Rad Flux','Downward Short Wave Rad Flux','Temperature','Upward Long wave Rad','Upward Long wave Rad Atmos','Upward Short Wave Rad','Max Temperature']].to_numpy()

predicted=nn_regr.predict(testX)

In [21]:
test=pd.read_csv('C:/Users/gurur/Desktop/Term1 Docs/ML/MLProject/test.csv')
test.head()

            Date
0  HINT-20050101
1  HINT-20050102
2  HINT-20050103
3  HINT-20050104
4  HINT-20050105

In [22]:
submitdf=pd.DataFrame(columns=['Id','Expected'])
submitdf['Id']=test['Date']
submitdf['Expected']=predicted

In [23]:
submitdf.to_csv('submission200_Poly3WithMon.csv')

#Best Submission till now: Haversine distance 100 polynomial regression degree 3